<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./Batcher.js"></script>
  <script src="./Dep.js"></script>
  <script src="./Watcher.js"></script>
  <script src="./Observe.js"></script>
  <script src="./Compile.js"></script>
  <script src="./MVVM.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="nickname">
    {{nickname}}
    <br />
    <input type="text" v-model="email">
    {{email}}
  </div>
</body>
<script>
  window.batcher = new Batcher()
</script>

<script>
  new Vue({
    data: {
      nickname: '张三',
      email: "123123@qq.com"
    },
    el: '#app'
  })
</script>

</html>